body {
  margin-top: -1rem;
  font-family: sans-serif; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: sans-serif; }
  body .nav-bar {
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    height: auto;
    margin-bottom: 1rem;
    width: 100%; }
    body .nav-bar h1 {
      margin-top: 1rem;
      margin-left: 1rem;
      padding: 1rem;
      text-align: center; }
    body .nav-bar a {
      color: #efefef;
      text-decoration: none; }
      body .nav-bar a:hover {
        text-decoration: none;
        color: #fff; }
  body #app .cart {
    color: #fff;
    display: inline-block;
    padding: 0rem 1rem;
    float: right;
    margin-top: -5rem; }
  body #app .product {
    max-width: 998px;
    margin: auto;
    display: table; }
    body #app .product .product-image {
      display: inline-block;
      vertical-align: top;
      max-width: 46%; }
      body #app .product .product-image img {
        width: 100%;
        display: block; }
    body #app .product .product-info {
      display: inline-block;
      padding: 0rem 1rem;
      max-width: 50%; }
      body #app .product .product-info p {
        margin: 0rem; }
      body #app .product .product-info h3 {
        margin-bottom: 0rem; }
      body #app .product .product-info .colors-list {
        list-style: none;
        padding: 0rem; }
        body #app .product .product-info .colors-list li {
          display: inline-block;
          margin: 0rem 1rem 0rem 0rem; }
        body #app .product .product-info .colors-list .colors-box {
          width: 3rem;
          height: 3rem;
          background: #ccc;
          border-radius: 50%;
          cursor: pointer; }
        body #app .product .product-info .colors-list .color-title {
          text-align: center;
          text-transform: uppercase;
          margin-top: 0rem; }
    body #app .product .tabs-container {
      margin: 1rem 0rem; }
      body #app .product .tabs-container > div {
        background: #eee;
        padding: 1rem;
        border-radius: 0rem 1rem 1rem 1rem;
        min-height: 20rem; }
    body #app .product .tab {
      cursor: pointer;
      padding: 1rem 2rem;
      border-radius: 8px 8px 0px 0px;
      background: #fefefe;
      display: inline-block;
      margin-right: 1rem; }
    body #app .product .activetab {
      font-weight: bold;
      background: #eee;
      color: #000; }
  body button {
    background-color: #9cdaf8;
    background-image: linear-gradient(315deg, #9cdaf8 0%, #98fcbd 74%);
    border-radius: .5rem;
    border-color: #9cdaf8;
    cursor: pointer;
    margin: .5rem;
    padding: 1rem; }
    body button:hover {
      text-decoration: underline; }
    body button.disabled {
      background: #ccc;
      cursor: not-allowed; }
  body .strike {
    text-decoration: line-through; }
  body footer {
    background: linear-gradient(-90deg, #000, #222);
    height: 60px;
    margin-top: 15px; }
  body .reviews-list {
    list-style: none; }
